{% extends '_base.html' %}

{% block header %}
  <title>New Playlist</title>
{% endblock %}

{% block body %}
  <form action="/playlists" method="POST" class="container">
    <fieldset class="col-view">
      <legend>New Playlist</legend>
      <input type="text" placeholder="Title" name="title">
      <input type="text" placeholder="Description" name="description">
      <input type="text" placeholder="Video ID" name="video_ids">
      <br>
      <input type="submit" value="Save Playlist">
    </fieldset>
  </form>
{% endblock %}