{% extends '_base.html' %}

{% block header %}
  <title>Playlist - {{ playlist['title'] }}</title>
{% endblock %}

{% block body %}
  <div class="side-by-side">
    <div>
      <img src="https://i.ytimg.com/vi/{{playlist['video_ids'][0]}}/sddefault.jpg" alt="Playlist Thumbnail"
           height="200"
           width="300">

        <div class="rating-stars">
          {% for rating in range(playlist.rating) %}
            <img class="star" src="{{ url_for('static', filename='images/star.png') }}" alt="Star Rating">
          {% endfor %}
        </div>

      <div>
        <h1>{{ playlist['title'] }}</h1>

        <p>{{ playlist['description'] }}</p>
        <hr>
        <p>{{ playlist['videos']|length }} {{'videos' if playlist['videos']|length > 1 else 'video'}},
          {{ playlist['views'] }} {{'views' if playlist['views'] > 1 else 'view'}}</p>

        <p>Last updated on {{ playlist['last_modified'].strftime("%b %d, %Y") }}</p>
      </div>

      <div>
        {% include 'partials/comment_form.html' %}
      </div>
    </div>

    {% if comments.count() %}
      <div class="border">
        <h3>Comments<sup>(top 3)</sup></h3>

        {% for comment in comments %}
          {% include 'partials/comment.html' %}
        {% endfor %}
      </div>
    {% endif %}


    <div class="above-and-under justify-left">
      {% for video_url in playlist['videos'] %}
        <iframe
          class="video"
          width="250"
          height="200"
          src="{{ video_url }}">
        </iframe>
      {% endfor %}
    </div>
  </div>
{% endblock %}
