{% extends '_base.html' %}

{% block header %}
  <title>View</title>
{% endblock %}

{% block body %}
  <h1 style="text-align: center;">
    Playlists
  </h1>

  <div class="container">
    <a href="playlists/new">Create new playlist</a>
      {% for playlist in playlists %}
      <div class="playlist-container">
        <span><b>Title:</b> {{ playlist['title'] }}</span>
        <span><b>Desc:</b> {{ playlist['description'] }}</span>
        <a href="https://www.youtube.com/watch?v={{ playlist['id'] }}">Visit</a>
      </div>
      {% else %}
        <h2>There are currently no playlists</h2>
      {% endfor %}
  </div>



{% endblock %}
