/* General Styling */

body {
    background-color: rgb(24, 24, 24);
    color: white;
}

div {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {
    color: white;
}

form {
}

input {
}

input[type=text] {
    width: 15vw;
    margin-bottom: 20px;
}

input[type=number] {
    width: 2.5rem;
}

input[type=submit] {

}

textarea {
    width: 15vw;
    height: 13vh;
}

button {

}

img {

}

/* Views Styling */

.above-and-under {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    align-items: center;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rate-box {
    margin-top: 1rem;
    margin-left: 13.5%;
}

.rating-input {
    width: 20%;
}

.rating-stars {
    display: flex;
    align-self: flex-end;
}

.star {
    height: 20px;
    width: 20px;
}

.space-around {
    justify-content: space-between;
}

.justify-left {
    align-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.playlist-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px;
    padding: 20px;
    width: 25%;
    height: 20%;
    margin-top: 20px;
}

.playlist-content {
    margin: 10px 0;
}

.col-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.video {
    margin-top: 10px;
}